.navbar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    padding-left: 440px;
}

.fundo{
    background: black;
    border-radius:50px;
    padding: 10px 25px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar h1 {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 25px;
}
.navbar li:hover h1:hover {
    background: #fff;
    border-radius:25px;
    color: black;
}